In [37]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
nltk.download('stopwords')
nltk.download('punkt')
from sklearn.feature_extraction.text import TfidfVectorizer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\keror\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\keror\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [77]:
df = pd.read_csv('hotels_reviews3.csv')

In [114]:
df.shape

(30, 21)

In [78]:
df.head()

,City,Hotel Name,Reviewer Name,Reviewer Nationality,Duration,Check-in Date,Travel Type,Room Type,Review Date,Positive Review,Negative Review
0,Tolip Hotel Alexandria (Hotel) (Egypt) Deals,Tolip Hotel Alexandria,Annabel,Guernsey,1 night ·,December 2024,Family,Deluxe Double or Twin Room with Sea and Pool View,"Reviewed: January 4, 2025",Excellent buffet breakfast with wide range of ...,No Negative Feedback
1,Tolip Hotel Alexandria (Hotel) (Egypt) Deals,Tolip Hotel Alexandria,Yasmeen,Yemen,1 night ·,January 2025,Group,Family Room Side Sea View,"Reviewed: January 7, 2025",All was very good,I like everything but The net was weak only
2,Tolip Hotel Alexandria (Hotel) (Egypt) Deals,Tolip Hotel Alexandria,Sharafeldin,Egypt,1 night ·,January 2025,Family,Special Offer - Double or Twin Room with Side ...,"Reviewed: January 6, 2025",The view was very good\r\nThe breakfast was ex...,The parking was not free and you have to pay 1...
3,Tolip Hotel Alexandria (Hotel) (Egypt) Deals,Tolip Hotel Alexandria,Yaswah,Egypt,2 nights ·,January 2025,Group,Special Offer - Family Room with Side Sea View...,"Reviewed: January 5, 2025",Good value for money,Despite 6th floor very noisy street traffic.\r...
4,Tolip Hotel Alexandria (Hotel) (Egypt) Deals,Tolip Hotel Alexandria,Fatima,United Arab Emirates,4 nights ·,January 2025,Couple,Special Offer - Deluxe Room with City View - E...,"Reviewed: January 5, 2025",Location and facilities and view,Bathroom maintenance and quality of towels and...

In [80]:
df['Duration'].value_counts()

Duration
1 night ·      17
2 nights ·      9
4 nights ·      3
3 nights ·      1
Name: count, dtype: int64

In [81]:
df['Positive Review'].isna().sum()

0

In [82]:
df['Travel Type'].value_counts()

Travel Type
Family           12
Solo traveler     7
Couple            6
Group             5
Name: count, dtype: int64

In [84]:
matching_rows = df.loc[(df["Duration"] == 'Duration') & (df["Travel Type"] == 'Travel Type')].index

In [85]:
df.drop(matching_rows, inplace = True)

In [86]:
df['Hotel Name'].value_counts()

Hotel Name
Tolip Hotel Alexandria           10
Charming Miramar Aparthotel      10
ZAFERO POREFAG- Families only    10
Name: count, dtype: int64

In [87]:
df['Duration'].value_counts()

Duration
1 night ·      17
2 nights ·      9
4 nights ·      3
3 nights ·      1
Name: count, dtype: int64

In [88]:
df['Room Type'].value_counts()

Room Type
Apartment with Sea View                                                                    13
Two-Bedroom Apartment                                                                       7
Special Offer - Deluxe Room with City View - Egyptians and Residents Only                   4
Special Offer - Double or Twin Room with Side Sea View - Egyptians and Residents Only       2
Deluxe Double or Twin Room with Sea and Pool View                                           1
Family Room Side Sea View                                                                   1
Special Offer - Family Room with Side Sea View - Egyptians and Residents Only               1
Special Offer - One-Bedroom Suite with Sea and Pool View - Egyptians and Residents Only     1
Name: count, dtype: int64

In [89]:
df['Check-in Date'].value_counts()

Check-in Date
January 2025     7
December 2024    3
August 2023      3
April 2023       2
May 2023         2
November 2024    2
June 2023        2
February 2023    1
November 2022    1
June 2024        1
October 2023     1
July 2023        1
July 2022        1
June 2022        1
March 2022       1
August 2022      1
Name: count, dtype: int64

In [90]:
df['Review Date'].value_counts()

Review Date
Reviewed: January 5, 2025       2
Reviewed: January 3, 2025       2
Reviewed: January 1, 2025       2
Reviewed: January 4, 2025       1
Reviewed: August 31, 2023       1
Reviewed: June 8, 2023          1
Reviewed: March 16, 2022        1
Reviewed: June 21, 2022         1
Reviewed: July 21, 2022         1
Reviewed: July 27, 2023         1
Reviewed: October 13, 2023      1
Reviewed: June 17, 2024         1
Reviewed: November 20, 2024     1
Reviewed: May 7, 2023           1
Reviewed: June 1, 2023          1
Reviewed: November 14, 2022     1
Reviewed: November 15, 2024     1
Reviewed: January 7, 2025       1
Reviewed: February 8, 2023      1
Reviewed: April 27, 2023        1
Reviewed: May 25, 2023          1
Reviewed: August 30, 2023       1
Reviewed: September 11, 2023    1
Reviewed: April 12, 2023        1
Reviewed: January 2, 2025       1
Reviewed: January 6, 2025       1
Reviewed: August 28, 2022       1
Name: count, dtype: int64

In [91]:
data = df

# cleaning phase

In [92]:
data.head()

,City,Hotel Name,Reviewer Name,Reviewer Nationality,Duration,Check-in Date,Travel Type,Room Type,Review Date,Positive Review,Negative Review
0,Tolip Hotel Alexandria (Hotel) (Egypt) Deals,Tolip Hotel Alexandria,Annabel,Guernsey,1 night ·,December 2024,Family,Deluxe Double or Twin Room with Sea and Pool View,"Reviewed: January 4, 2025",Excellent buffet breakfast with wide range of ...,No Negative Feedback
1,Tolip Hotel Alexandria (Hotel) (Egypt) Deals,Tolip Hotel Alexandria,Yasmeen,Yemen,1 night ·,January 2025,Group,Family Room Side Sea View,"Reviewed: January 7, 2025",All was very good,I like everything but The net was weak only
2,Tolip Hotel Alexandria (Hotel) (Egypt) Deals,Tolip Hotel Alexandria,Sharafeldin,Egypt,1 night ·,January 2025,Family,Special Offer - Double or Twin Room with Side ...,"Reviewed: January 6, 2025",The view was very good\r\nThe breakfast was ex...,The parking was not free and you have to pay 1...
3,Tolip Hotel Alexandria (Hotel) (Egypt) Deals,Tolip Hotel Alexandria,Yaswah,Egypt,2 nights ·,January 2025,Group,Special Offer - Family Room with Side Sea View...,"Reviewed: January 5, 2025",Good value for money,Despite 6th floor very noisy street traffic.\r...
4,Tolip Hotel Alexandria (Hotel) (Egypt) Deals,Tolip Hotel Alexandria,Fatima,United Arab Emirates,4 nights ·,January 2025,Couple,Special Offer - Deluxe Room with City View - E...,"Reviewed: January 5, 2025",Location and facilities and view,Bathroom maintenance and quality of towels and...

extacting only the city name from first column

In [93]:
cities = ['Alexandria' , 'Sharm-ElShiekh', 'Luxor' , 'Aswan' , 'Hurghada' , 'Cairo']

def extract_city(record, city_list):
    for city in city_list:
        if city.lower() in record.lower():  
            return city
    return None  


data["City"] = data["City"].apply(lambda x: extract_city(x, cities))

In [94]:
data.head(10)

,City,Hotel Name,Reviewer Name,Reviewer Nationality,Duration,Check-in Date,Travel Type,Room Type,Review Date,Positive Review,Negative Review
0,Alexandria,Tolip Hotel Alexandria,Annabel,Guernsey,1 night ·,December 2024,Family,Deluxe Double or Twin Room with Sea and Pool View,"Reviewed: January 4, 2025",Excellent buffet breakfast with wide range of ...,No Negative Feedback
1,Alexandria,Tolip Hotel Alexandria,Yasmeen,Yemen,1 night ·,January 2025,Group,Family Room Side Sea View,"Reviewed: January 7, 2025",All was very good,I like everything but The net was weak only
2,Alexandria,Tolip Hotel Alexandria,Sharafeldin,Egypt,1 night ·,January 2025,Family,Special Offer - Double or Twin Room with Side ...,"Reviewed: January 6, 2025",The view was very good\r\nThe breakfast was ex...,The parking was not free and you have to pay 1...
3,Alexandria,Tolip Hotel Alexandria,Yaswah,Egypt,2 nights ·,January 2025,Group,Special Offer - Family Room with Side Sea View...,"Reviewed: January 5, 2025",Good value for money,Despite 6th floor very noisy street traffic.\r...
4,Alexandria,Tolip Hotel Alexandria,Fatima,United Arab Emirates,4 nights ·,January 2025,Couple,Special Offer - Deluxe Room with City View - E...,"Reviewed: January 5, 2025",Location and facilities and view,Bathroom maintenance and quality of towels and...
5,Alexandria,Tolip Hotel Alexandria,Hesham,Egypt,1 night ·,December 2024,Couple,Special Offer - Double or Twin Room with Side ...,"Reviewed: January 3, 2025",Great,Nice place and location
6,Alexandria,Tolip Hotel Alexandria,Dr,Egypt,2 nights ·,December 2024,Couple,Special Offer - One-Bedroom Suite with Sea and...,"Reviewed: January 3, 2025",nice but noisy,sea view and location
7,Alexandria,Tolip Hotel Alexandria,Ahmed,Egypt,1 night ·,January 2025,Family,Special Offer - Deluxe Room with City View - E...,"Reviewed: January 2, 2025","Hospitable staff, wide room with nice view, br...","Rooms needs small renovations, otherwise all w..."
8,Alexandria,Tolip Hotel Alexandria,Mohamed,Egypt,1 night ·,January 2025,Couple,Special Offer - Deluxe Room with City View - E...,"Reviewed: January 1, 2025",Room and sea view,Cleanliness issue beside room door
9,Alexandria,Tolip Hotel Alexandria,Hassan,Qatar,2 nights ·,January 2025,Family,Special Offer - Deluxe Room with City View - E...,"Reviewed: January 1, 2025",Very good thank you,No Negative Feedback

In [96]:
#using only english charactes 

data['Hotel Name']= data['Hotel Name'].apply(lambda x : re.sub('([^a-zA-Z\s])',' ',x) if isinstance(x, str) else x)
data['Negative Review']= data['Negative Review'].apply(lambda x : re.sub('([^a-zA-Z\s])',' ',x) if isinstance(x, str) else x)
data['Positive Review']= data['Positive Review'].apply(lambda x : re.sub('([^a-zA-Z\s])',' ',x) if isinstance(x, str) else x)

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
C:\Users\keror\AppData\Local\Temp\ipykernel_14848\1535265765.py:3: SyntaxWarning: invalid escape sequence '\s'
  data['Hotel Name']= data['Hotel Name'].apply(lambda x : re.sub('([^a-zA-Z\s])',' ',x) if isinstance(x, str) else x)
C:\Users\keror\AppData\Local\Temp\ipykernel_14848\1535265765.py:4: SyntaxWarning: invalid escape sequence '\s'
  data['Negative Review']= data['Negative Review'].apply(lambda x : re.sub('([^a-zA-Z\s])',' ',x) if isinstance(x, str) else x)
C:\Users\keror\AppData\Local\Temp\ipykernel_14848\1535265765.py:5: SyntaxWarning: invalid escape sequence '\s'
  data['Positive Review']= data['Positive Review'].apply(lambda x : re.sub('([^a-zA-Z\s])',' ',x) if isinstance(x, str) else x)

In [49]:
# remove additional spaces

data['City Name']= data['City Name'].apply(lambda x : re.sub('(\s){2,}',' ',x))
data['Hotel Name']= data['Hotel Name'].apply(lambda x : re.sub('(\s){2,}',' ',x))
data['Negative Review']= data['Negative Review'].apply(lambda x : re.sub('(\s){2,}',' ',x) if isinstance(x, str) else x)
data['Positive Review']= data['Positive Review'].apply(lambda x : re.sub('(\s){2,}',' ',x) if isinstance(x, str) else x)
data['Review Title']= data['Review Title'].apply(lambda x : re.sub('(\s){2,}',' ',x) if isinstance(x, str) else x)

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
<>:7: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
<>:7: SyntaxWarning: invalid escape sequence '\s'
C:\Users\keror\AppData\Local\Temp\ipykernel_14848\2077592957.py:3: SyntaxWarning: invalid escape sequence '\s'
  data['City Name']= data['City Name'].apply(lambda x : re.sub('(\s){2,}',' ',x))
C:\Users\keror\AppData\Local\Temp\ipykernel_14848\2077592957.py:4: SyntaxWarning: invalid escape sequence '\s'
  data['Hotel Name']= data['Hotel Name'].apply(lambda x : re.sub('(\s){2,}',' ',x))
C:\Users\keror\AppData\Local\Temp\ipykernel_14848\2077592957.py:5: SyntaxWarning: invalid escape sequence '\s'
  data['Negative Review']= data['Negative Review'].apply(lambda x : re.sub('(\s){2,}',' ',x) if isinstance(x, str) else x)
C:\Users\keror\AppData\Local\Temp\ipykernel_14848\2077592957.py:6: SyntaxWarning: invalid escape sequence '\s'
  data['Positive Review']= data['Positive Review'].apply(lambda x : re.sub('(\s){2,}',' ',x) if isinstance(x, str) else x)
C:\Users\keror\AppData\Local\Temp\ipykernel_14848\2077592957.py:7: SyntaxWarning: invalid escape sequence '\s'
  data['Review Title']= data['Review Title'].apply(lambda x : re.sub('(\s){2,}',' ',x) if isinstance(x, str) else x)

In [98]:
#remove the spaces at the start and the end of the string

data['City'] = data['City'].apply(lambda x : x.strip() )
data['Negative Review'] = data['Negative Review'].apply(lambda x : x.strip() if isinstance(x, str) else x )
data['Positive Review'] = data['Positive Review'].apply(lambda x : x.strip() if isinstance(x, str) else x)

In [99]:
# make all data in lower case

data['Negative Review'] = data['Negative Review'].apply(lambda x : x.lower() if isinstance(x, str) else x )
data['Positive Review'] = data['Positive Review'].apply(lambda x : x.lower() if isinstance(x, str) else x)

In [101]:
def remove_SW(example):
    sw = set(stopwords.words('english'))
    word_tokens = word_tokenize(example)
    filtered_sentence = [w for w in word_tokens if w.lower() not in sw]

    return ' '.join(filtered_sentence)


columns_to_clean = ['Negative Review', 'Positive Review']

for column in columns_to_clean:
    data[column] = data[column].apply(lambda x: remove_SW(x) if isinstance(x, str) else x)

In [102]:
# handle travel duration column

data['Duration']= data['Duration'].apply(lambda x : re.sub('([^0-9a-zA-Z\s])',' ',x) if isinstance(x, str) else x)

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
C:\Users\keror\AppData\Local\Temp\ipykernel_14848\3606363045.py:3: SyntaxWarning: invalid escape sequence '\s'
  data['Duration']= data['Duration'].apply(lambda x : re.sub('([^0-9a-zA-Z\s])',' ',x) if isinstance(x, str) else x)

In [103]:
# handle review date column

data["Review Date"] = data["Review Date"].str.replace("Reviewed: ", "", regex=False)

# TOKENIZING

In [ ]:

# Combine all reviews into a single text
all_reviews = " ".join(data['Positive Review'] + " " + data['Negative Review'])

# Tokenize the combined text using NLTK tokenizer
tokenized_reviews = " ".join(word_tokenize(all_reviews))

# Initialize TF-IDF Vectorizer
vectorizer = TfidfVectorizer(stop_words='english')

# Fit and transform the tokenized reviews
tfidf_matrix = vectorizer.fit_transform([tokenized_reviews])

# Get feature names (tokens)
feature_names = vectorizer.get_feature_names_out()

# Extract TF-IDF scores for all tokens
tfidf_scores = zip(feature_names, tfidf_matrix.toarray()[0])

# Sort tokens by their TF-IDF scores
sorted_tokens = sorted(tfidf_scores, key=lambda x: x[1], reverse=True)


print("Top Tokens:")

tokens = []
for token, score in sorted_tokens[:15]:  
    tokens.append(token)
    print(f" - {token}: {score:.2f}")

print("\nAll Top Tokens:", tokens)

Top Tokens:
 - booking: 0.28
 - apartment: 0.27
 - location: 0.25
 - com: 0.21
 - day: 0.19
 - need: 0.19
 - view: 0.19
 - good: 0.16
 - place: 0.16
 - feedback: 0.14
 - host: 0.14
 - reservation: 0.14
 - room: 0.14
 - sea: 0.12
 - stay: 0.12

All Top Tokens: ['booking', 'apartment', 'location', 'com', 'day', 'need', 'view', 'good', 'place', 'feedback', 'host', 'reservation', 'room', 'sea', 'stay']

In [121]:
token_list = tokens[0:5]
token_list

['booking', 'apartment', 'location', 'com', 'day']

In [122]:
for col in token_list:
    data[col] = 0

In [123]:
for word in token_list:
    # For Positive Review: If the word exists, assign 1, otherwise 0
    data[word] = data['Positive Review'].apply(lambda x: 1 if word in x.lower() else 0)
    
    # For Negative Review: If the word exists, assign -1, else keep the value as 1 if it's already 1, otherwise assign 0
    data[word] = data.apply(lambda row: -1 if word in row['Negative Review'].lower() else (1 if row[word] == 1 else 0), axis=1)

In [124]:
data.head()

,City,Hotel Name,Reviewer Name,Reviewer Nationality,Duration,Check-in Date,Travel Type,Room Type,Review Date,Positive Review,...,booking,apartment,location,com,day,need,view,good,place,feedback
0,Alexandria,Tolip Hotel Alexandria,Annabel,Guernsey,1 night,December 2024,Family,Deluxe Double or Twin Room with Sea and Pool View,"January 4, 2025",excellent buffet breakfast wide range cooked f...,...,0,0,0,0,0,0,0,0,0,-1
1,Alexandria,Tolip Hotel Alexandria,Yasmeen,Yemen,1 night,January 2025,Group,Family Room Side Sea View,"January 7, 2025",good,...,0,0,0,0,0,0,0,1,0,0
2,Alexandria,Tolip Hotel Alexandria,Sharafeldin,Egypt,1 night,January 2025,Family,Special Offer - Double or Twin Room with Side ...,"January 6, 2025",view good breakfast excellent room clean tidy,...,0,0,0,0,-1,0,1,1,0,0
3,Alexandria,Tolip Hotel Alexandria,Yaswah,Egypt,2 nights,January 2025,Group,Special Offer - Family Room with Side Sea View...,"January 5, 2025",good value money,...,0,0,0,0,0,0,0,1,0,0
4,Alexandria,Tolip Hotel Alexandria,Fatima,United Arab Emirates,4 nights,January 2025,Couple,Special Offer - Deluxe Room with City View - E...,"January 5, 2025",location facilities view,...,0,0,1,0,0,0,1,0,0,0