In [1]:
import pandas as pd 
import numpy as np
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\keror\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\keror\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
df = pd.read_csv("hotel_reviews.csv")

In [3]:
df.head()

,City,Reviewer Name,Review Title,Positive Review,Negative Review
0,Sharm-ElSheikh,Raghda,Wonderful,Facilities and Staff,No Negative Review
1,Sharm-ElSheikh,Gündüz,Excellent,"Everything was perfect, all hotel crews are so...",No Negative Review
2,Sharm-ElSheikh,Mandy,unbelievable relaxation experience,impeccable cleanliness with the manager checki...,posh club should be adults only although kids ...
3,Sharm-ElSheikh,Alaere,Exceptional,"The resort is beautiful, and the vibe is excit...",No Negative Review
4,Sharm-ElSheikh,Elena,Wonderful,"Beautiful sea and location, comfortable and pi...",Restaurant service is not extraordinary. The c...

In [32]:
data = df.drop(columns=['Reviewer Name'])

In [33]:
data.head(10)

,City,Review Title,Positive Review,Negative Review
0,Sharm-ElSheikh,Wonderful,Facilities and Staff,No Negative Review
1,Sharm-ElSheikh,Excellent,"Everything was perfect, all hotel crews are so...",No Negative Review
2,Sharm-ElSheikh,unbelievable relaxation experience,impeccable cleanliness with the manager checki...,posh club should be adults only although kids ...
3,Sharm-ElSheikh,Exceptional,"The resort is beautiful, and the vibe is excit...",No Negative Review
4,Sharm-ElSheikh,Wonderful,"Beautiful sea and location, comfortable and pi...",Restaurant service is not extraordinary. The c...
5,Sharm-ElSheikh,Unforgettable stay due to the Posh Club team!,Our stay at White Hills Resort is one we’ll ne...,The only negative things I’d say about our sta...
6,Sharm-ElSheikh,Very Good,"The staff, food were great, service was amazing","Insect in the room was annoying, fire alarm wa..."
7,Sharm-ElSheikh,Exceptional,Tamer and all staff is amazing. Posh Club is f...,No Negative Review
8,Sharm-ElSheikh,Good day,"The resort was clean and view was amazing , en...",- the gulf car always late though it’s 5 stati...
9,Sharm-ElSheikh,Exceptional,"Privacy and safety, activities, stuff, food, a...",Maybe nothing

In [34]:
data['City'].value_counts()

City
Sharm-ElSheikh    210
Alexandria         30
Name: count, dtype: int64

# data cleansing practice

In [35]:
#using only english charactes 

data['City']= data['City'].apply(lambda x : re.sub('([^a-zA-Z\s])',' ',x))
data['Negative Review']= data['Negative Review'].apply(lambda x : re.sub('([^a-zA-Z\s])',' ',x) if isinstance(x, str) else x)
data['Positive Review']= data['Positive Review'].apply(lambda x : re.sub('([^a-zA-Z\s])',' ',x) if isinstance(x, str) else x)
data['Review Title']= data['Review Title'].apply(lambda x : re.sub('([^a-zA-Z\s])',' ',x) if isinstance(x, str) else x)

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
C:\Users\keror\AppData\Local\Temp\ipykernel_7792\412736757.py:3: SyntaxWarning: invalid escape sequence '\s'
  data['City']= data['City'].apply(lambda x : re.sub('([^a-zA-Z\s])',' ',x))
C:\Users\keror\AppData\Local\Temp\ipykernel_7792\412736757.py:4: SyntaxWarning: invalid escape sequence '\s'
  data['Negative Review']= data['Negative Review'].apply(lambda x : re.sub('([^a-zA-Z\s])',' ',x) if isinstance(x, str) else x)
C:\Users\keror\AppData\Local\Temp\ipykernel_7792\412736757.py:5: SyntaxWarning: invalid escape sequence '\s'
  data['Positive Review']= data['Positive Review'].apply(lambda x : re.sub('([^a-zA-Z\s])',' ',x) if isinstance(x, str) else x)
C:\Users\keror\AppData\Local\Temp\ipykernel_7792\412736757.py:6: SyntaxWarning: invalid escape sequence '\s'
  data['Review Title']= data['Review Title'].apply(lambda x : re.sub('([^a-zA-Z\s])',' ',x) if isinstance(x, str) else x)

In [36]:
# remove additional spaces

data['City']= data['City'].apply(lambda x : re.sub('(\s){2,}',' ',x))
data['Negative Review']= data['Negative Review'].apply(lambda x : re.sub('(\s){2,}',' ',x) if isinstance(x, str) else x)
data['Positive Review']= data['Positive Review'].apply(lambda x : re.sub('(\s){2,}',' ',x) if isinstance(x, str) else x)
data['Review Title']= data['Review Title'].apply(lambda x : re.sub('(\s){2,}',' ',x) if isinstance(x, str) else x)

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
C:\Users\keror\AppData\Local\Temp\ipykernel_7792\2789959937.py:3: SyntaxWarning: invalid escape sequence '\s'
  data['City']= data['City'].apply(lambda x : re.sub('(\s){2,}',' ',x))
C:\Users\keror\AppData\Local\Temp\ipykernel_7792\2789959937.py:4: SyntaxWarning: invalid escape sequence '\s'
  data['Negative Review']= data['Negative Review'].apply(lambda x : re.sub('(\s){2,}',' ',x) if isinstance(x, str) else x)
C:\Users\keror\AppData\Local\Temp\ipykernel_7792\2789959937.py:5: SyntaxWarning: invalid escape sequence '\s'
  data['Positive Review']= data['Positive Review'].apply(lambda x : re.sub('(\s){2,}',' ',x) if isinstance(x, str) else x)
C:\Users\keror\AppData\Local\Temp\ipykernel_7792\2789959937.py:6: SyntaxWarning: invalid escape sequence '\s'
  data['Review Title']= data['Review Title'].apply(lambda x : re.sub('(\s){2,}',' ',x) if isinstance(x, str) else x)

In [37]:
#remove the spaces at the start and the end of the string

data['City'] = data['City'].apply(lambda x : x.strip() )
data['Negative Review'] = data['Negative Review'].apply(lambda x : x.strip() if isinstance(x, str) else x )
data['Positive Review'] = data['Positive Review'].apply(lambda x : x.strip() if isinstance(x, str) else x)
data['Review Title'] = data['Review Title'].apply(lambda x : x.strip() if isinstance(x, str) else x)

In [38]:
# make all data in lower case

data['City'] = data['City'].apply(lambda x : x.lower() )
data['Negative Review'] = data['Negative Review'].apply(lambda x : x.lower() if isinstance(x, str) else x )
data['Positive Review'] = data['Positive Review'].apply(lambda x : x.lower() if isinstance(x, str) else x)
data['Review Title'] = data['Review Title'].apply(lambda x : x.lower() if isinstance(x, str) else x)

In [39]:
def remove_SW(example):
    sw = set(stopwords.words('english'))
    word_tokens = word_tokenize(example)
    filtered_sentence = [w for w in word_tokens if w.lower() not in sw]

    return ' '.join(filtered_sentence)

In [40]:
# List of columns to remove sw from
columns_to_clean = ['City', 'Negative Review', 'Positive Review', 'Review Title']

for column in columns_to_clean:
    data[column] = data[column].apply(lambda x: remove_SW(x) if isinstance(x, str) else x)

In [41]:


data.head()

,City,Review Title,Positive Review,Negative Review
0,sharm elsheikh,wonderful,facilities staff,negative review
1,sharm elsheikh,excellent,everything perfect hotel crews kind meals prep...,negative review
2,sharm elsheikh,unbelievable relaxation experience,impeccable cleanliness manager checking regula...,posh club adults although kids well behaved ad...
3,sharm elsheikh,exceptional,resort beautiful vibe exciting staff welcoming...,negative review
4,sharm elsheikh,wonderful,beautiful sea location comfortable picturesque...,restaurant service extraordinary choice alcoho...

In [57]:
data['Positive Review'] = data['Positive Review'].fillna("")
data['Negative Review'] = data['Negative Review'].fillna("")

In [84]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Example reviews (combine all reviews into a list)


# Combine all reviews into a single text
all_reviews = " ".join(data['Positive Review'] + " " +data['Negative Review'])

# Initialize TF-IDF Vectorizer
vectorizer = TfidfVectorizer(stop_words='english')

# Fit and transform the reviews
tfidf_matrix = vectorizer.fit_transform([all_reviews])

# Get feature names (tokens)
feature_names = vectorizer.get_feature_names_out()

# Extract TF-IDF scores for all tokens
tfidf_scores = zip(feature_names, tfidf_matrix.toarray()[0])

# Sort tokens by their TF-IDF scores
sorted_tokens = sorted(tfidf_scores, key=lambda x: x[1], reverse=True)

# Display the top 5 tokens
print("Top 5 Tokens:")

tokens = []
for token, score in sorted_tokens[:20]:  # Adjusted to print only the top 5 tokens
    tokens.append(token)
    print(f" - {token}: {score:.2f}")

# Print the tokens list (optional)
print("\nAll Top Tokens:", tokens)

Top 5 Tokens:
 - staff: 0.36
 - good: 0.28
 - food: 0.27
 - room: 0.25
 - hotel: 0.24
 - negative: 0.22
 - review: 0.22
 - clean: 0.18
 - beach: 0.17
 - nice: 0.16
 - great: 0.15
 - friendly: 0.14
 - location: 0.14
 - stay: 0.13
 - amazing: 0.12
 - breakfast: 0.11
 - helpful: 0.10
 - really: 0.10
 - reception: 0.10
 - pool: 0.09

All Top Tokens: ['staff', 'good', 'food', 'room', 'hotel', 'negative', 'review', 'clean', 'beach', 'nice', 'great', 'friendly', 'location', 'stay', 'amazing', 'breakfast', 'helpful', 'really', 'reception', 'pool']

In [85]:

print("Original tokens:", tokens)

items_to_remove = ['good', 'nice', 'great', 'hotel', 'friendly' ,  'room' , 'negative' ,'review' , 'stay' , 'amazing' , 'helpful' , 'reception' , 'breakfast' , 'really']

# Using list comprehension to remove all items in items_to_remove
tokens_new = [token for token in tokens if token not in items_to_remove]

# Print the updated list
print("Updated tokens:", tokens_new)

Original tokens: ['staff', 'good', 'food', 'room', 'hotel', 'negative', 'review', 'clean', 'beach', 'nice', 'great', 'friendly', 'location', 'stay', 'amazing', 'breakfast', 'helpful', 'really', 'reception', 'pool']
Updated tokens: ['staff', 'food', 'clean', 'beach', 'location', 'pool']

In [86]:
for col in tokens_new:
    data[col] = 0

In [87]:

data.head()

,City,Review Title,Positive Review,Negative Review,staff,food,clean,location,beach,pool
0,sharm elsheikh,wonderful,facilities staff,negative review,0,0,0,0,0,0
1,sharm elsheikh,excellent,everything perfect hotel crews kind meals prep...,negative review,0,0,0,0,0,0
2,sharm elsheikh,unbelievable relaxation experience,impeccable cleanliness manager checking regula...,posh club adults although kids well behaved ad...,0,0,0,0,0,0
3,sharm elsheikh,exceptional,resort beautiful vibe exciting staff welcoming...,negative review,0,0,0,0,0,0
4,sharm elsheikh,wonderful,beautiful sea location comfortable picturesque...,restaurant service extraordinary choice alcoho...,0,0,0,0,0,0

In [101]:
for word in tokens_new:
    # For Positive Review: If the word exists, assign 1, otherwise 0
    data[word] = data['Positive Review'].apply(lambda x: 1 if word in x.lower() else 0)
    
    # For Negative Review: If the word exists, assign -1, else keep the value as 1 if it's already 1, otherwise assign 0
    data[word] = data.apply(lambda row: -1 if word in row['Negative Review'].lower() else (1 if row[word] == 1 else 0), axis=1)